input#menu {
  display: none;
}

.icon {
  cursor: pointer;
  display: block;
  height: 24px;
  padding: 16px;
  width: 24px;
}

label.icon {
  position: fixed;
  z-index: 200;
  top: 25px;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
  background: #9fb1bd;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 20px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
  background: #ea6111;
}

.icon .menu {
  left: 5px;
  top: 5px;
}

.icon .menu::before {
  top: -6px;
}

.icon .menu::after {
  top: 6px;
}

#menu:checked + .icon .menu {
  background: transparent;
}

#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

nav {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  padding-top: 60px;
  position: fixed;
  transition: width ease 0.6s;
  width: 60px;
  z-index: 100;

  overflow: hidden;
}

#menu:checked ~ nav {
  width: 200px;
}
