---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body onload="toggleNav()">
  <header>
    <a href="{{site.baseurl}}/">
      <h1 class="header-title">{{site.title}}<i class="fa fa-share-alt" aria-hidden="true"></i> </h1>
    </a>
    <h2 class="header-tagline">Aprendendo, desenvolvendo e compartilhando juntos</h2>
  </header>

  <div id="mySidenav" class="sidenav">

    <input type="checkbox" id="menu">
    <label for="menu" class="icon" onclick="toggleNav()">
      <div class="menu"></div>
    </label>

    {% include menu-links.html %}
  </div>

  <div id="main">
    {{content}}
    {% include footer.html %}
  </div>
  <script>
    function toggleNav() {
      sideNav = document.getElementById("mySidenav").style;
      sideNav.width = (sideNav.width == "35px" ? "250px" : "35px");
    }
  </script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"
    type="text/css">
  {% include analytics.html %}
</body>

</html>